@import "tailwindcss";

/* O'zingizning custom CSS kodlaringizni shu yerdan pastga yozasiz */

@keyframes gradient-bg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(-45deg, #1e1b4b, #4c1d95, #831843, #172554, #064e3b);
  background-size: 400% 400%;
  animation: gradient-bg 12s ease infinite;
}